@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html{
    background-color: #e20001;
}

a {
    color: #7A7A7A;
}

.logotipo {
    width: 125px;
}

#logo {
    width: 125px;
    height: 49px;
}

header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
    margin-top: 20px;
}

#img-logo {
    margin-left: 55px;
}

nav ul {
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.a-nav {
    font-size: 14px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

nav ul li {
    list-style-type: none;
}

.hamburguer {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.5s;
}

.hamburguer div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background-color: white;
    cursor: pointer;
}

.login {
    display: flex;
    gap: 30px;
    margin-right: 55px;
    margin-left: 50px;
}

#entrar {
    font-size: 17px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

#entrar a {
    color: white;
    text-decoration: none;
}

#cadastro a {
    color: #232323;
    text-decoration: none;
}

#cadastro {
    width: 150px;
    font-size: 17px;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    color: #232323;
    cursor: pointer;
}

@media (max-width: 1200px) {
    /*Aqui inicia o código do cabeçalho*/

    .logotipo {
        width: 90px;
    }

    nav {
        position: fixed;
        left: -300px;
        top: 0;
        z-index: 15;
        width: 280px;
        height: 100%;
        background-color: white;
        transition: 0.5s;
        box-shadow: 2px 0 20px 0 rgb(0, 0, 0, 0.5);
    }

    .a-nav {
        color: #232323;
        font-weight: 500;
        padding: 0;
    }

    #nav_check:checked~nav {
        left: 0;
    }

    .logo2 {
        height: 39px;
        width: 100px;
        background: url(/psg-si-m-ti-2023-2-tiaw-doe/codigo/img/LOGO-COLORIDO.png);
        background-size: cover;
    }

    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    nav ul li {
        padding: 10px 0;
        width: 100%;
        cursor: pointer;
    }


    .hamburguer {
        display: block;
        margin-right: 55px;
    }

    .login {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin: 200px 0px 0px 0px;
    }

    #entrar a {
        color: white;
        text-decoration: none;
    }

    #cadastro a {
        color: white;
        text-decoration: none;
    }

    #cadastro {
        width: 230px;
        font-size: 17px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        background-color: #e20001;
    }

    #entrar {
        width: 230px;
        font-size: 17px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        background-color: #e20001;
    }

}

#rodape {
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e20001;
}

#info_rodape {
    color: white;
    list-style: none;
    font-weight: 300;
}

#redes_sociais {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#redes_sociais i {
    text-align: center;
    font-size: 35px;
    color: #e20001;
    background-color: white;
    height: 45px;
    width: 45px;
    padding: 5px;
    border-radius: 100px;
}

i#youtube {

    font-size: 30px;
    padding: 6px;




}

#endereco_rodape {
    color: white;
    font-weight: 300;
}



body main {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin-top: 120px;
    width: 80%;
    height: 104vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
    background-color: #FFFFFF;
    border-radius: 50px;

}

#infos {

    padding-top: 30px;
    color: #7A7A7A;
    margin-bottom: 30px;
    font-size: 18px;

}

.form-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 1rem;

}

.form-image img {
    width: 20rem;
}

.title {
    color: #e20001;
    font-size: 24px;
    margin-left: 50px;



}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5rem;
    border-radius: 50px;


}

.form-header {


    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    background-color: #e20001;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: #e20001;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;

    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    margin-top: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;

}

.input-box select {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box select {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
    width: 210px;
}

.input-box select:focus-visible {
    outline: 1px solid #e20001;
}

.input-box select:hover {
    background-color: #eeeeee75;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #e20001;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}


.continue-button {
    margin-top: -10px;
}

.continue-button button {
    width: 100%;
    border: none;
    background-color: #e20001;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #e20001;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

#armazena {

    border: none;
    background-color: #e20001;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;

}

#titulo {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#armazena a {

    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

#tela {
    margin-top: 30px;
    font-family: 'Inter', sans-serif;

}


footer {
    padding: 50px;
}




#perfil {

    border: none;
    background-color: #e20001;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#perfil a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;

}



.input-box i {
    font-size: 20px;
    cursor: pointer;

    position: absolute;
    margin-top: 33px;
    margin-left: 174px;


}


#cadastro:hover {
    transform: translateY(-1px);
    box-shadow: 0px 8px 15px rgba(109, 19, 19, 0.555);
}

#cadastro:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.322);
}


@media screen and (max-width: 917px) {

    #rodape {
        height: 100%;
    }

    #rodape {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #rodape {
        padding: 30px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #info_rodape {
        color: white;
        list-style: none;
        font-weight: 300;
    }
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }

    .container {
        width: 50%;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1195px) {

    div i {
        display: none;


    }
}

@media screen and (max-width: 1195px) {

    .container {
        width: auto;
        height: auto;
    }

    .input-group {

        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }

    .gender-inputs {
        margin-top: 2rem;
    }

    .gender-group {
        flex-direction: column;
    }

    .gender-title h6 {
        margin: 0;
    }

    .gender-input {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 562px) {
    form {

        width: 130%;

    }

}

@media screen and (max-width: 474px) {
    .title {
        font-size: 15px;
        margin-left: 0px;


    }

}